.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    img {
        width: 100px;
    }
    h2 {
        font-size: 36px;
        font-weight: 900;
    }
}

.right-header {
    nav {
        ul {
            list-style: none;
            display: flex;
            gap: 30px;
            li {
                text-decoration: none;
                color: #737373;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    div {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        h1 {
            font-size: 50px;
            font-weight: 900;
            margin: 0;
        }
        p {
            font-size: 24px;
            font-weight: 300;
        }
        button {
            width: 180px;
            height: 55px;
            border: 1px solid #2e3192;
            background-color: #2e3192;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 500;
            color: white;
        }
        button:hover {
            background-color: #3a3d9a;
        }
    }
}

.rugs-bg {
    position: absolute;
    width: 40%;
    top: 30%;
    right: 10%;
}

.about-section {
}

#hero-image {
    animation: rotating 2s linear 0s 1;
}

@keyframes rotating {
    from {
        scale: 100%;
        transform: rotate(0);
    }
    to {
        scale: 50%;
        transform: rotate(180deg);
    }
}
